<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9cb5">  <td>20/03/12 16:27:24</td>   <td>0</td> <td title="&gt;&gt;Casos.init()[pri:0, instance:com.taller.sms.primerTaller.Casos@26653222]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/03/12 16:27:29</td>   <td>5912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Casos.iniciarSesion()[pri:0, instance:com.taller.sms.primerTaller.Casos@26653222]">iniciarSesion</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/03/12 16:27:33</td>   <td>9718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Casos.VisualizarElementosHome()[pri:1, instance:com.taller.sms.primerTaller.Casos@26653222]">VisualizarElementosHome</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/03/12 16:27:38</td>   <td>14546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Casos.GenerarInvitacion()[pri:3, instance:com.taller.sms.primerTaller.Casos@26653222]">GenerarInvitacion</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/03/12 16:27:47</td>   <td>23532</td> <td title="&lt;&lt;Casos.cerrarDrive()[pri:0, instance:com.taller.sms.primerTaller.Casos@26653222]">&lt;&lt;cerrarDrive</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
</table>
